mixin calendar(id)
  .calendar(id=id)
    .header
      button.prev-month
        i.fa-solid.fa-caret-left
      h1.month-year
      button.next-month
        i.fa-solid.fa-caret-right
    .days
      .day Sun
      .day Mon
      .day Tue
      .day Wed
      .day Thu
      .day Fri
      .day Sat
    .dates
