extends /main.pug

include /vars.pug
include /widgets/calendar.pug

block vars
  - var title = 'Calendar'

block mainhead
  +headerIncludes('calendar/calendar', true)

block mainbody
  h1#page-title Calendar Example

  section#calendar-section
    +calendar('example')
