extends /main.pug

include /vars.pug
include /widgets/dialog.pug
include /widgets/calendar.pug

block vars
  - var title = 'Prue Golf Time: Available Reservations'

block mainhead
  +headerIncludes('available')

block mainbody
  h1#page-title Available Reservations

  section#course-section
    select#course-filter(name=course)

  section#calendar-section
    +calendar('available-calendar')

  section#available-section
    | No Available Times Found

  +dialog('book-time', 'Book Time')
    div Are you sure you want to book this time?

  div.sticky-button
    i#available-refresh.fa.fa-refresh