extends /main.pug

block vars
  - var title = 'B.js Examples: Calendar'

block mainhead
  +headerIncludes('index', true)

mixin exampleItem(path, name)
  li.example-item
    a.example-link(href=`${path}.html`)
      p.example-name= name

block mainbody
  h1#page-title Examples

  section#examples-section
    ul#examples-list
      each example in exampleList
        +exampleItem(example[0], example[1])