.card {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #f4efcd;
  border-radius: 8px;
  background-color: #495867;
  padding: 8px;
  color: #f7f7ff;
}
.card-item {
  display: flex;
  gap: 8px;
}
.card-item-title {
  flex: 0 0 auto;
  width: 100px;
  color: #f4efcd;
  font-weight: bold;
}
.card-item-value {
  flex: 0 1 auto;
}
.booking {
  display: flex;
  flex-direction: column;
  border: 1px solid #1f1f1f;
  border-radius: 8px;
  padding: 8px;
}
.booking-item {
  display: flex;
  gap: 8px;
}
.booking-item-title {
  width: 75px;
  font-weight: bold;
}
.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.overlay.hidden {
  display: none;
}
.spinner {
  animation: spin 2s linear infinite;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#page-title {
  padding-top: 12px;
  padding-bottom: 8px;
}
.bookings-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 12px;
  padding-right: 4px;
  padding-left: 4px;
}
.section-title {
  padding-top: 24px;
}
