#wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#button_wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 16px;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 50%;
}

.name {
  flex-grow: 1;
  max-width: 40%;
}

.sex {
  flex-grow: 1;
}
