.toast {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  z-index: 1000;
  border-bottom: 1px solid #1f1f1f;
  width: 100%;
}
.toast .toast-message {
  flex: 1 1 auto;
  padding: 12px;
  font-size: 20px;
}
.toast .close-toast {
  cursor: pointer;
  padding-right: 12px;
  font-size: 48px;
  text-align: center;
}
.toast .toast-warning {
  padding-left: 12px;
  font-size: 48px;
  text-align: center;
}
