.calendar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #1f1f1f;
  font-family: Arial, sans-serif;
  text-align: center;
}
.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #495867;
  padding: 10px;
  color: #f7f7ff;
  user-select: none;
}
.calendar .header .prev-month,
.calendar .header .next-month {
  cursor: pointer;
  border: none;
  background: none;
  padding: 4px;
  color: #f7f7ff;
  font-size: clamp(1.25rem, calc(12px + 1vw), 1.5rem);
}
@media (pointer: coarse) {
  .calendar .header .prev-month,
  .calendar .header .next-month {
    padding: 12px;
    font-size: 32px;
  }
}
.calendar .header .month-year {
  font-size: clamp(1.25rem, calc(12px + 1vw), 1.5rem);
}
@media (pointer: coarse) {
  .calendar .header .month-year {
    font-size: 32px;
  }
}
.calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f2f2f2;
  padding: 5px;
  font-weight: bold;
}
.calendar .days .day {
  padding: 5px;
}
.calendar .dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
}
.calendar .date {
  border-radius: 8px;
  color: #1f1f1f;
  font-size: clamp(1.25rem, calc(12px + 1vw), 1.5rem);
  user-select: none;
}
@media (pointer: coarse) {
  .calendar .date {
    font-size: 32px;
  }
}
.calendar .disabled {
  color: grey;
}
.calendar .clickable {
  cursor: pointer;
}
.calendar .selected {
  background-color: #f4efcd;
  color: #ef8543;
}
#calendar-section {
  padding-top: 16px;
  padding-bottom: 16px;
}
